Repository freshwaterbruce2/Vibe-Paralegal: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Add ESLint workflow for code analysis
  .github/workflows/eslint.yml
Due: none

fix: resolve all ESLint and Prettier linting errors
  .eslintrc.json
Due: prettier --write

fix: package.json & package-lock.json to reduce vulnerabilities
  package-lock.json
  package.json
Due: prettier --write

fix: update typescript to 5.9.3 to resolve dependency conflict with @angular/build
  package.json
Due: prettier --write

refactor: Clean up project configuration and dependencies
  .env.local.example
  .eslintrc.json
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/dependabot.yml
  .github/labeler.yml
  .github/pull_request_template.md
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/deploy.yml
  .github/workflows/eslint.yml
  .github/workflows/pr-checks.yml
  .github/workflows/release.yml
  .gitignore
  .lintstagedrc.json
  .prettierignore
  .prettierrc
  .vercelignore
  .vscode/extensions.json
  .vscode/settings.json
  CONTRIBUTING.md
  README.md
  codecov.yml
  eslint.config.js
  index.html
  index.tsx
  migrated_prompt_history/prompt_2025-12-03T11:04:39.240Z.json
  package-lock.json
  package.json
  src/services/__tests__/case-data.service.spec.ts
  src/test-setup.ts
  tsconfig.json
  vercel.json
  vitest.config.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{html,css,json})
